<style>
  .fle-RelatedList_Item {
    margin-top: 8px;
  }

  .fle-RelatedList_Item:first-child {
    margin-top: 0;
  }

  .fle-RelatedList_Item strong {
    color: initial;
  }
</style>
{% if related_objects %}
  <ul class="fle-RelatedList">
    {% for obj in related_objects %}
      {% if obj.admin_url %}
        <li class="fle-RelatedList_Item">
          <a class="fle-RelatedList_Link" href="{{ obj.admin_url }}">
            <strong>{{ obj.model_name|capfirst }}:</strong>
            {{ obj.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <p class="fle-RelatedList fle-RelatedList-empty">
    No usage to show.
  </p>
{% endif %}
