<fieldset class="module aligned with-legend ">
  <h2 class="legend">Used on</h2>
    <div id="file-used-on-container">
      <div class="form-row field-title">
        <div>
          <label for="id_title">Pages:</label>
          <ul class="fle-RelatedList">
            {% for obj in related_objects %}
              {% for page in obj.pages %}
                {% if page.admin_url %}
                  <li class="fle-RelatedList_Item">
                    <a class="fle-RelatedList_Link" href="{{ page.admin_url }}">{{ page.model_name|capfirst }} - {{ page.page}}</a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
</fieldset>
