{% load compress html pages static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="{% block meta_description %}{% meta_description %}{% endblock %}">
    <meta name="robots" content="{% block meta_robots %}{% meta_robots %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="canonical" href="{% canonical_url %}"/>

    <!-- Open Graph data -->
    <meta property="og:title" content="{% block og_title %}{% og_title %}{% endblock %}">
    <meta property="og:url" content="{% canonical_url %}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% block og_description %}{% og_description %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% og_image %}{% endblock %}">

    <title>{% block title %}{% title %}{% endblock %}</title>

    <!-- Favicons -->
    {% include 'base/_favicons.html' %}

    {% block feeds %}{% endblock %}

    {% compress css %}
      {% render_bundle 'main' 'css' %}
    {% endcompress %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% include 'base/_browser-update.html' %}
    {% include 'base/_analytics.html' %}

    {% block body_inner %}
      {% include 'base/_header.html' %}

      <div class="l-siteContainer">
        {% block site %} {% block content_above %}{% endblock %}
          <div class="l-contentContainer">
            {% block content %}
              <main class="l-mainContainer">
                {% block main %}{% endblock %}
              </main>

              <aside class="l-asideContainer">
                {% block aside %}{% endblock %}
              </aside>
            {% endblock %}
          </div>
        {% endblock %}
      </div>

      {% include 'base/_footer.html' %}
    {% endblock %}

    {% compress js %}
      {% render_bundle 'main 'js' %}
    {% endcompress %}
  </body>
</html>
