language: python
cache:
  directories:
    - $HOME/.cache/pip
python:
- "2.7"
- "3.3"
- "3.4"
- "pypy"
env:
 - DJANGO=1.7.7
 - DJANGO=1.8.1
before_install:
 - sudo apt-get install libgeoip-dev
install:
    - pip install -q Django==$DJANGO
    - pip install -e .[testing]
    - start_cms_project.py testing testing_dir/ --without-people --without-faqs --without-jobs --skip-frontend
script: coverage run --source=cms --omit='*migrations*' testing_dir/manage.py test cms
notifications:
  slack: onespacemedia:NufeDxb1m4D0UkuQh1O0m9qt
  email: false
after_success:
  - coveralls
