language: python
cache:
  directories:
    - $HOME/.cache/pip
python:
- "2.7"
- "3.5"
- "pypy"
matrix:
  allow_failures:
    - python: "pypy"
sudo: false
addons:
  apt:
    packages:
    - libgeoip-dev
install:
    - pip install cookiecutter
    - cookiecutter https://github.com/onespacemedia/project-template.git --checkout develop --no-input --config-file .cookiecutter.yml
    - pip install -q Django
    - pip uninstall onespacemedia-cms -y
    - pip install -e .[testing]
script: coverage run --source=cms --omit='*migrations*' manage.py test cms
notifications:
  slack: onespacemedia:NufeDxb1m4D0UkuQh1O0m9qt
  email: false
after_success:
  - coveralls
  - codecov
