recursive-include cms/project_template *
recursive-include cms/templates *
recursive-include cms/static *
recursive-include cms/apps/*/templates *
recursive-include cms/apps/*/static *
recursive-include cms/bin *
