{% load pages site %}

<header class="o-header">
  <div class="l-container">
    <a class="c-header_logo" href="{{ pages.homepage.get_absolute_url }}"></a>

    <a class="c-header_navTrigger">
      <div class="c-hamburger">
        <div class="c-hamburger_line c-hamburger_bunTop"></div>
        <div class="c-hamburger_line c-hamburger_patty"></div>
        <div class="c-hamburger_line c-hamburger_bunBottom"></div>
      </div>
    </a>

    <nav class="c-header_nav">
      {% navigation pages.homepage.navigation section=pages.homepage %}
    </nav>
  </div>
</header>
