{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "modules": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true
  },
  "rules": {
    "camelcase": [2, {"properties": "always"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "curly": [2, "multi-or-nest"],
    "dot-notation": [2, {"allowKeywords": true}],
    "eqeqeq": [2, "smart"],
    "indent": [2, 2],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "no-alert": [2],
    "no-extend-native": [2, {"exceptions": ["Date", "String"]}],
    "no-multi-spaces": [2],
    "no-octal-escape": [2],
    "no-script-url": [1],
    "no-shadow": [2, {"hoist": "functions"}],
    "no-underscore-dangle": [2],
    "no-unused-vars": [2, {"vars": "local", "args": "none"}],
    "space-before-blocks": [2, "always"],
    "space-infix-ops": [2, {"int32Hint": false}],
    "quotes": [2, "double"],

    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, {"before": true, "after": true}],
    "constructor-super": [2],
    "generator-star-spacing": [2, "before"],
    "no-class-assign": [2],
    "no-const-assign": [2],
    "no-this-before-super": [2],
    "no-var": [2],
    "object-shorthand": [2, "always"],
    "prefer-arrow-callback": [2],
    "prefer-const": [1],
    "prefer-template": [2]
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
