/* ======================== */
/* Inputs
/* ======================== */
/* Inputs are normally 40px high so set this as the default, normally have
/* borders as well so build the element with them in mind
/* ------------------------ */
@include formInputs($extra: ('input[type="submit"]', 'textarea')) {
  display: block;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: #{'@padding-top'};
  padding-left: #{'@padding-right'};
  width: 100%;

  line-height: inherit;

  appearance: none;
  border: 1px solid transparent;
  color: map-get($colors, text);

  &:focus {
    outline: none;
  }
}

/* Submit
/* ------------------------ */
input[type="submit"] {
  display: inline-block;
  width: auto;
}
