/* ======================== */
/* Base
/* ======================== */
/* Typical mobile fixed header
/* ------------------------ */
.o-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  @include breakpoint-gte(lg) {
    position: relative;
  }
}

.o-header .o-container {
  display: flex;
}
