/* ======================== */
/* Base
/* ======================== */
.o-list {
  margin: 0;
  margin-bottom: map-get($spacing, margin);
  padding: 0;
  list-style: none;
}

/* ======================== */
/* Inline
/* ======================== */
.o-list-inline {
  display: flex;
  flex-wrap: wrap;
}

/* Justified
/* ------------------------ */
.o-list-inline.is-justified {
  justify-content: space-between;
}
