/* ======================== */
/* Base
/* ======================== */
.o-media {
  display: flex;

  margin-bottom: map-get($spacing, margin);
}

/* Left
/* ------------------------ */
.o-media_left {
  flex-basis: #{'@width'};
  flex-shrink: 0;

  margin-right: map-get($spacing, margin);
  width: 38%;
}

.o-media_left img {
  display: block;
}

/* Content
/* ------------------------ */
.o-media_content {
  // Align the text to the top of the left columns image
  $fontSize: map-get($fontSizes, body);
  $lineHeight: $fontSize + 10px;
  margin-top: -((($lineHeight - $fontSize / 2)) + 1px);
}
