{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify admin_urls %}

{% block extrahead %}{{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
  <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

  {# Needed for sorting section pages #}
  <script type="text/javascript" src="{% static 'cms/js/sortable/sortables.min.js' %}"></script>

  {{ media }}

{% endblock %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block object-tools %}
  {% if change %}{% if not is_popup %}
    <ul class="object-tools initialized">
      {% block object-tools-items %}
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <li><a href="{% add_preserved_filters history_url %}" class="historylink"><i class="icon-time icon-alpha75"></i>{% trans "History" %}</a>
        </li>
        {% if has_absolute_url %}
          <li>
            <a href="{{ original.get_absolute_url }}?preview=1" class="viewsitelink"><i class="icon-eye-open icon-alpha75"></i>{% trans "View on site" %}</a>
          </li>
        {% endif %}

        {% if has_add_permission %}
          <li>
            <a href="../add/"><i class="icon-plus-sign icon-alpha75"></i>{% blocktrans with opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a></li>
        {% endif %}

      {% endblock %}
    </ul>
  {% endif %}{% endif %}
{% endblock %}

{% block footer %}
  {% if has_absolute_url %}
    <div class="submit-row sharing-links">
      <h3>Share this on:</h3>
      <input type="submit" value="Facebook" name="https://www.facebook.com/sharer.php?u={% if request.is_secure %}https{% else %}http{% endif %}%3A%2F%2F{{ request.META.HTTP_HOST }}{{ original.get_absolute_url|urlencode }}">

      <input type="submit" value="Twitter" name="https://twitter.com/share?url={% if request.is_secure %}https{% else %}http{% endif %}%3A%2F%2F{{ request.META.HTTP_HOST }}{{ original.get_absolute_url|urlencode }}&amp;text={{ original.title|urlencode }}">

      <input type="submit" value="LinkedIn" name="https://www.linkedin.com/shareArticle?url={% if request.is_secure %}https{% else %}http{% endif %}%3A%2F%2F{{ request.META.HTTP_HOST }}{{ original.get_absolute_url|urlencode }}&amp;title={{ original.title|urlencode }} ">
    </div>
    <script>
    jQuery('.sharing-links input').each(function() {
      var $ = jQuery;
      $(this).click(function(ev) {
        ev.preventDefault();
        var url = $(this).attr('name');
        window.open(url, '_blank', 'height=400,width=600,menubar=no,status=no,toolbar=no');
      })
    });
    </script>
    <style>
      .sharing-links {
        padding: 20px;
      }

      .sharing-links input {
        cursor: pointer;
      }
    </style>
  {% endif %}
{% endblock %}

{# Multilangue page support, this in normally overwritten in a template on the once in a blue moon project that needs it #}
{#{% if language_pages and display_language_options %}#}
{##}
{#    <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">#}
{#        {% for page in language_pages %}#}
{#            <li class="{% if original == page %}active{% endif %}">#}
{#                <a href="/admin/pages/page/{{ page.pk }}">#}
{#                    {% if page.is_content_object == False %}#}
{#                        Default#}
{#                    {% else %}#}
{#                        {{ page.country_group }}#}
{#                    {% endif %}#}
{#                </a>#}
{#            </li>#}
{#        {% endfor %}#}
{#        <li class="{% if original == page %}active{% endif %}">#}
{#            <a href="/admin/pages/page/{% if original.is_content_object %}{{ original.owner.pk }}{% else %}{{ original.pk }}{% endif %}/duplicate">Add</a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#{% endif %}#}
