{% extends "admin/change_list.html" %}
{% load i18n admin_static suit_list %}


{% block bodyclass %}page-content-types{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'admin:index' %}">Home</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="{% url 'admin:app_list' "pages" %}">Pages</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="{% url 'admin:pages_page_changelist' %}">Pages</a>
            <span class="divider">&raquo;</span>
        </li>
        <li class="active">{{ object }}</li>
    </ul>
{% endblock %}

{% block result_list %}
    {% if content_objects %}
        {% regroup content_objects by get_language_display as classifiers %}
        {% for classifier in classifiers %}
            <div class="results">
                <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th scope="col"><div class="text"><span>Title</span></div></th>
                            <th scope="col"><div class="text"><span>Language</span></div></th>
                            <th scope="col"><div class="text"><span>Published</span></div></th>
                            <th scope="col"><div class="text"><span>Last modified</span></div></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for content_object in classifier.list %}
                        <tr>
                            <td>
                                <a href="{{ content_object.get_change_url }}">{{ content_object.title }}</a>
                            </td>

                            <td>{{ content_object.get_language_display }}</td>

                            <td>
                                <img src="/static/admin/img/icon-{{ content_object.is_online|yesno }}.gif" alt="{{ content_object.is_online }}">
                            </td>

                            <td>{{ content_object.last_modified }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p>This page does not currently have any content.</p>
    {% endif %}


{% endblock %}

{% block pagination %}{% endblock %}
{% block search %}{% endblock %}
