/*
    Style extensions for the CMS admin site.
*/


/* Dashboard index page. */
body.dashboard div.sitemap-entry {
    position: relative;
}

body.dashboard div.sitemap-entry .move-up,
body.dashboard div.sitemap-entry .move-down {
    width: 11px;
    height: 5px;
    background-image: url(/static/pages/img/arrows.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    cursor: pointer;
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: transparent;
    font-size: 0px;
    line-height: 0px;
    display: block;
    text-indent: -999px;
    outline: none;
}

body.dashboard div.sitemap-entry .move-up {
    background-position: -15px -29px;
    top: 2px;
}

body.dashboard div.sitemap-entry .move-up:hover {
    background-position: -2px -29px;
}

body.dashboard div.sitemap-entry .move-down {
    background-position: -15px -34px;
    top: 11px;
}

body.dashboard div.sitemap-entry .move-down:hover {
    background-position: -2px -34px;
}

body.dashboard #sitemap-module .loading {
    margin: 0 0 0 10px;
    padding: 0 0 10px 40px;
    background: url(/static/pages/img/ajax-loader.gif) 0 0 no-repeat;
    height: 30px;
    line-height: 30px;
    color: #5B80B8;
}


/* Page content type selection page. */
.cms-Classifiers_Groups {
    margin-top: 24px;
}

.cms-Classifiers_Group {
    margin-top: 24px;
}

.cms-Classifiers_Group:first-child {
    margin-top: 0;
}

.cms-Classifiers_Items {
    flex-wrap: wrap;

    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.cms-Classifiers_GroupTitle {
    margin-bottom: 24px;
}

.cms-Classifiers_Item {
    flex-direction: column;

    display: flex;
    width: 120px;
    margin: 0 24px 24px 0;

    list-style: none;

    border: 1px solid #fff;
}

.cms-Classifiers_Item:hover {
    border: 1px solid currentColor;
}

.cms-Classifiers_ItemLink {
    flex: 1 0 auto;
    flex-direction: column;

    display: block;
    padding: 12px;
}

.cms-Classifiers_ItemIcon {
    display: block;
    width: 100%;
}

.cms-Classifiers_ItemTitle {
    display: block;
    margin-top: 12px;

    text-align: center;
}

#recent-actions-module ul li > ul {
    margin-left: 15px;
}

.actionlist {
    min-width: 230px;
}

.controls textarea {
    width: calc(100% - 15px);
}

.defaultSkin table.mceLayout {
    width: calc(100% - 2px) !important;
}

.popup.media-file .form-horizontal fieldset.collapsed {
    margin-top: 35px;
}
