/* ======================== */
/* Logo
/* ======================== */
.c-header_logo {
  display: block;
  height: height(map-get($logo, file));
  width: width(map-get($logo, file));

  background-image: resolve(map-get($logo, file));
  background-repeat: no-repeat;
  background-size: #{'@width'} #{'@height'};

  @include breakpoint-gte(lg) {
    height: height(map-get($logo-lg, file));
    width: width(map-get($logo-lg, file));

    background-image: resolve(map-get($logo-lg, file));
    background-size: #{'@width'} #{'@height'};
  }
}

/* ======================== */
/* Navigation
/* ======================== */
.c-header_navigation {
  @include breakpoint-gte(lg) {
    display: block;
    margin-left: auto;
  }
}
