{% extends "admin/change_form.html" %}
{% load static %}

{% block after_field_sets %}
  {% if original.is_image %}
    {% include 'admin/media/includes/image-editor.html' %}
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}

  {% if original.is_image %}
    <!-- Instantiate the image editor widget -->
    <link type="text/css" rel="stylesheet" href="{% static 'cms/js/imgeditor/image-editor.css' %}">
    <script type="text/javascript" src="{% static 'cms/js/imgeditor/image-editor.js' %}"></script>
  {% endif %}

  {% if is_popup %}
    <style>
      body {
        background-color: #FFF;
      }
    </style>
  {% endif %}
{% endblock %}
