/* ======================== */
/* Colors
/* ======================== */
$colors: (
  anchor: #1f2429,
  body: #fff,
  brand: #fff,
  brandDark: #1f2429,
  text: #1f1f1f
);

/* ======================== */
/* Fonts
/* ======================== */

/* Families
/* ------------------------ */
$fontFamilies: (
  serif: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
);

/* Sizes
/* ------------------------ */
$fontClasses: ('xlarge', 'large', 'medium', 'small', 'xsmall', 'normal');
$fontSizes: (
  xlarge: 24px,
  large: 22px,
  medium: 20px,
  small: 18px,
  xsmall: 16px,
  normal: 16px,
  root: 16px
);

$fontSizes-lg: (
  xlarge: 32px,
  large: 28px,
  medium: 20px,
  small: 18px,
  xsmall: 18px,
  normal: 16px,
  root: 16px
);

$lineHeightAddition: 10px;
$lineHeights: (
  xlarge: map-get($fontSizes, xlarge) + $lineHeightAddition,
  large: map-get($fontSizes, large) + $lineHeightAddition,
  medium: map-get($fontSizes, medium) + $lineHeightAddition,
  small: map-get($fontSizes, small) + $lineHeightAddition,
  xsmall: map-get($fontSizes, xsmall) + $lineHeightAddition,
  normal: map-get($fontSizes, normal) + $lineHeightAddition,
);

$lineHeights-lg: (
  xlarge: map-get($fontSizes-lg, xlarge) + $lineHeightAddition,
  large: map-get($fontSizes-lg, large) + $lineHeightAddition,
  medium: map-get($fontSizes-lg, medium) + $lineHeightAddition,
  small: map-get($fontSizes-lg, small) + $lineHeightAddition,
  xsmall: map-get($fontSizes-lg, xsmall) + $lineHeightAddition,
  normal: map-get($fontSizes-lg, normal) + $lineHeightAddition,
);

/* ======================== */
/* Header
/* ======================== */
$header: (
  height: 40px
);

$header-lg: (
  height: 80px
);

/* ======================== */
/* Grid
/* ======================== */
$grid: (
  constrained: 1700px,
  container: 1180px,
  gutter: 30px
);

/* ======================== */
/* Logo
/* ======================== */
$logo: (
  file: 'image.png'
);

$logo-lg: (
  file: 'image.png'
);

/* ======================== */
/* Media
/* ======================== */
$mediaRanges: (
  xs: (0, 480px),
  sm: (481px, 768px),
  md: (769px, 1024px),
  lg: (1025px, 1440px),
  xlg: (1441px, 1920px),
  xxlg: (1921px, 999999px)
);

/* ======================== */
/* Spacing
/* ======================== */
$spacing: (
  margin: 20px
);
